
.root {
    -fx-background-color: #2f2f2f;
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}


#signUp{
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #C0A060;
    -fx-padding: 40 0 40 200;
}
#login, #getpassword, #changePasswordTitle{
-fx-font-size: 46px;
    -fx-font-weight: bold;
    -fx-text-fill: #C0A060;

}
#signupLabel,#forgotPasswordLabel{
 -fx-text-fill: #6c757d;
    -fx-font-size: 16px;
    -fx-underline: true;
    -fx-cursor: hand;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px;
}

.text-field, .password-field {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-border-color: #C0A060;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button {
    -fx-background-color: #C0A060;
    -fx-text-fill: #2f2f2f;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #FFCC00;
}

#alreadyHaveAccountLabel {
    -fx-text-fill: #C0A060;
    -fx-font-size: 16px;
    -fx-underline: true;
    -fx-cursor: hand;
}

.label {
    -fx-text-fill: #cecece;
    -fx-font-size: 14px;
    -fx-padding: 5px 0;
}
#passwordKey{
  -fx-text-fill: #C0A060;
  -fx-padding: 10,0,0,0;
}
.vbox {
    -fx-spacing: 15px;
    -fx-padding: 20px 0;
    -fx-alignment: center;
}
